.search{
    width: 30%;
    padding: 5px 10px;
}


.boton {
    font-family: 'Permanent Marker', cursive;
    box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.5)

  }

@media (max-width: 576px ) {
    .search{
        width: 80%;
    }
    .boton {
        width: 50%;
    }
}
