@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
  font-family: "RymFont";
  src: local("RyMfont"),
  url("./fonts/RyMfont.ttf") format("truetype");
}
.rymFont {
  font-family: "RymFont";
}


.marker {
  font-family: 'Permanent Marker', cursive;
}